{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css">
    {% block meta %} {% endblock meta %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    </script>
</head>

<body>
    <header class="site-header">
        Header
    </header>
    {% block content %} {% endblock content %}

    <footer class="site-footer">
        Footer
    </footer>
</body>

</html>